.card{
    width: 100% !important;
    border: none !important;
    height: 100vh !important;
}
.cardBody{
    overflow-y: scroll;
}
.cardBody p{
    width: 50% !important;
}
.right{
    margin-left: auto;
}