.auth_main{
    background: rgb(131,58,180) !important;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(217,54,85,1) 0%, rgba(214,44,86,1) 10%, rgba(213,42,86,1) 12%, rgba(224,78,82,1) 36%, rgba(230,101,79,1) 51%, rgba(229,98,79,1) 59%, rgba(238,130,75,1) 70%, rgba(241,139,74,1) 76%, rgba(246,156,72,1) 87%, rgba(252,176,69,1) 100%) !important;
}
.auth_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
    
.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}
    
.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}
    
.social_icon span:hover{
    color: white;
    cursor: pointer;
}
    
.card-header h3{
    color: white;
}
    
.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}
    
.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}
    
input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
}
    
.remember{
    color: white;
}
    
.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}
    
.login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
}
    
.login_btn:hover{
    color: black;
    background-color: white;
}
    
.links{
    color: white;
}
    
.links a{
    margin-left: 4px;
}

.card-footer a{
    color: #FFC312;
}
.card-footer a:hover{
    color: rgb(102, 255, 0);
}